{% extends 'baselib.html' %}


{% block link_block %}
<link rel="stylesheet" href="/static/css/admin/admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="/static/css/librarian/reservation.css">    
{% endblock %}

{% block body_block %}
    <div class="content">
        <table id="library-bor-table" data-library="{{ session['user']['library_id'] }}">
            <tr>
                <th>E-mail uživatele</th>
                <th>Jméno knihy</th>
                <th>Výpůjčka do</th>
                <th class="search-box">
                        <input type="text" name="nm" placeholder="Hledat email">                
                </th>
            </tr>
            
            {% for bor in borrows %}
                <tr id="bor-num-{{ bor['borervation_id'] }}" data-user="{{bor['user_id']}}" data-book="{{bor['title_id']}}">
                    <td>{{ bor['email'] }}</td>
                    <td>{{ bor['title_name'] }}</td>
                    <td>{{ bor['until'].strftime("%d. %m. %Y") }}</td>
                    <td class="deleteForm">
                        <button class="button-icon confirm-bor" data-bor="{{ bor['borervation_id'] }}">
                            <i class="fas fa-check-circle"></i>
                        </button>
                        <button class="button-icon delete-bor" data-bor="{{ bor['borervation_id'] }}">
                            <i class="fas fa-trash"></i>
                        </button>
                        
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>
{% endblock %}

{% block script_block %}
<script src="/static/js/libbor.js"></script>
{% endblock %}