{% extends 'baselib.html' %}


{% block link_block %}
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/static/css/librarian/reservation.css">
{% endblock %}

{% block body_block %}
    <div class="content">
        <table id="library-res-table" data-library="{{ session['user']['library_id'] }}">
            <tr>
                <th>E-mail uživatele</th>
                <th>Jméno knihy</th>
                <th>Rezervace do</th>
                <th class="search-box">
                        <input type="text" name="nm" placeholder="Hledat email" id="searchBox">                
                </th>
            </tr>
            
            {% for res in reservations %}
                <tr class="row" id="res-num-{{ res['reservation_id'] }}" data-user="{{res['user_id']}}" data-book="{{res['title_id']}}"
                    {% if res["days"] < 3 %}
                        class="red-row"
                    {% elif res["days"] < 5 %}
                        class="orange-row"
                    {% endif %}
                >
                    <td class="liveSearchEmail" >{{ res['email'] }}</td>
                    <td>{{ res['title_name'] }}</td>
                    <td>{{ res['until'].strftime("%d. %m. %Y") }}</td>
                    <td class="deleteForm">
                        <button class="button-icon confirm-res" data-res="{{ res['reservation_id'] }}">
                            <i class="fas fa-check-circle"></i>
                        </button>
                        <button class="button-icon delete-res" data-res="{{ res['reservation_id'] }}">
                            <i class="fas fa-trash"></i>
                        </button>
                        
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>

{% endblock %}

{% block script_block %}
    <script src="/static/js/libres.js"></script>
    <script src="/static/js/liveSearch.js"></script>
{% endblock %}