.content-header{
    font-size: 3rem;
    color: #333;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
    margin-bottom: 1rem;
}
.book-row{
    display: flex;
    justify-content: space-between;
}
.book-div{
    width: 20rem;
    margin: 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}
.book-div:hover{
    transform: scale(1.05);
}
.book-img{
    width: 20rem;
    height: 29rem;
    border-radius: 2rem;
    object-fit: cover;
    object-position: 20% 10%; /* try 20px 10px */
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.171);
}
.book-header{
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #333;
}
.book-author{
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #241a47;
    margin: 0.5rem 0;
}
.percent-align{
    position: relative;
    text-align: center;
    color: white;
}
.book-rating{
    width: 100%;
}
.book-rating-text{
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
}