.content-header{
    font-size: 3rem;
    color: #333;
    font-family: 'Baloo 2', cursive;
    font-weight: 700;
}
.book-row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: auto;
}
.book-div{
    width: 20rem;
    margin: 1rem;
    text-decoration: none;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
}
.book-div:hover{
    transform: scale(1.05);
}
.book-img{
    width: 20rem;
    height: 29rem;
    border-radius: 2rem;
    object-fit: cover;
    object-position: 50% 10%; 
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.171);
}
.book-header{
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #333;
}
.book-author{
    font-size: 1.4rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    color: #241a47;
    margin: 0.5rem 0;
}
.book-rating{
    width: 20rem;
    z-index: 3;
}

.book-rating-text{
    font-size: 1rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    position: absolute;
    top: 44%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 4;
}
.percent-align{
    position: relative;
    text-align: center;
    color: white;
    z-index: 2;
}
.up-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2rem;
}
.book-botDisplayed{
    display: none;
}
#live-search{
    width: 20rem;
    padding: 1rem 2rem;
    text-align: center;
    background-color: #E7DFC6;
    color:#333;
    font-family: 'Nunito',sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 5px #00000033;
}
@media only screen and (max-width: 562px){
    #live-search{
        width: 100%;
        margin: 1rem;
    }
    .up-row{
        justify-content: center;
    }
}
@media only screen and (max-width: 512px){
    .book-rating{
        width: 18rem;
    }
    .book-div{
        width: 18rem;
        margin: 0.5rem;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
        cursor: pointer;
    }
    .shrink{
        padding: 1rem;
    }
    .book-img{
        width: 18rem;

    }
}
@media only screen and (max-width: 420px){
    .book-rating{
        width: 14rem;
    }
    .book-div{
        width: 14rem;
        margin: 0.5rem;
        text-decoration: none;
        transition: all 0.2s ease-in-out 0s;
        cursor: pointer;
    }
    .shrink{
        padding: 1rem;
    }
    .book-img{
        width: 14rem;
        margin: auto;
    }
    .book-header{
        font-size: 1.6rem;
    }
    .book-author{
        font-size: 1.2rem;
    }
}
