.book-picture{
    display: none;
}
input,textarea{
    display: block;
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    margin: 1rem 1rem;
}

.book-input, .book-date{
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 5px #000000a0;
    
}
.book-date-input{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}
.book-date-label{
    margin-left: 1rem;
}
.book-date-label,.book-date{
    display: inline-block;
    font-size: 1.8rem;
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
}
.book-input{
    width: 80%;
    max-width: 80%;
}
.book-picture-label{
    width: 100%;
    text-align: center;
    background-color: #623CEA;
    padding: 1rem 2rem;
    border-radius: 1.5rem;
    color: #fff;
    font-size: 1.8rem;
    font-family: 'Baloo 2', cursive;
    font-weight: 800;
    cursor: pointer;
    margin-bottom: 1rem;
}
.header{
    font-weight: 800;
    font-family: 'Baloo 2', cursive;
    font-size: 3rem;
    text-align: center;
}
.book-form{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.left-side{
    width: 50%;
}
.file-input-div{
    width: 50%;
}
.combos{
    margin-top: 1rem;
    border-bottom: 2px solid #aaa ;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}
.combo-label,.author-combo{
    font-family: 'Nunito',sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
}
.author-combo{
    display: block;
    background-color: #fff;
    border-radius: 1rem;
    padding: 1rem 2rem;
    margin-left: 2rem;
    margin-bottom: 1rem;
}
#add-author-button{
    margin-left: 2rem;
}
.new-author{
    font-family: 'Nunito',sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    
}
.name-surname{
    display: flex;
}
.author-input{
    width: 50%;
}
#file-preview{
    display: none;
    width: 20rem;
    height: 29rem;
    object-fit: cover;
    object-position: 50% 10%; 
    border-radius: 1.5rem;
}
.file-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-name,.input-surname{
    border: none;
    border-radius: 1.5rem;
    box-shadow: 0px 0px 5px #000000a0;
}