{% extends 'baseDis.html' %}


{% block link_block %}
<link rel="stylesheet" href="/static/css/admin/admin.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="stylesheet" href="/static/css/librarian/reservation.css">    
{% endblock %}

{% block body_block %}
    <div class="content">
        <table id="library-bor-table">
            <tr>
                <th>Jméno knížky</th>
                <th>Hlavní autor</th>
                <th><a class="btn btn-blue top-button" style="margin-bottom: 1rem;text-decoration: none;" href="{{ url_for('distribSystem.distribBooks') }}">Přidat knihu</a></th>
            </tr>
            
            {% for book in books %}
                <tr id="book-{{book['title_id']}}">
                    <td>{{ book['title_name'] }}</td>
                    <td>{{ book['author']}}</td>
                    <td class="deleteForm">
                        <a class="button-icon edit-book" data-book="{{ book['title_id'] }}" style="text-decoration:none;"href="{{ url_for('distribSystem.editBook',bookid=book['title_id']) }}">
                            <i class="fas fa-edit"></i>
                        </a>
                        <button class="button-icon delete-book" data-book="{{ book['title_id'] }}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}

        </table>
    </div>


{% endblock %}

{% block script_block %}
<script src="/static/js/deletebook.js"></script>

{% endblock %}