{% extends 'base.html' %}


{% block link_block %}
    <link rel="stylesheet" href="/static/css/views/bookList.css">
    <link rel="stylesheet" href="/static/css/views/detail.css">
{% endblock %}


{% block body_block %}

<div class="content extra-padding">
    <div class="split-left">
        <img src="{{ book['path_to_picture'] }}" class="book-img-detail">
    </div>
    <div class="split-right">
        <div class="top-split">
            <h1 class="book-header-detail">{{ book['title_name'] }}</h1>
            <p class="book-description">{{ book['description'] }}</p>
            <p class="book-author-detail">
                <span class="baloo-bold">Autor: </span>{{book['authors']}}
            </p>
        </div>
        
        <div class="bottom-split">
            <div class="bottom-left">
                <div class="top">
                    <p class="book-author-detail"><span class="baloo-bold">Hodnocení:</span></p>
                    <div class="percent-align">
                        <img src="{{ book['rating_path'] }}" alt="rating" class="book-rating">
                        <p class="book-rating-text">{{ book['rating'] }}</p>
                    </div>
                </div>
                <button class="link-a btn btn-yellow">Ohodnotit</button>
            </div>
            <div class="bottom-right">
                <p class="baloo-bold">Zvolte knihovnu</p>
                <select name="library" class="library-select" id="res-combobox" data-book="{{ book['title_id'] }}">
                    {% for library in libraries %}
                        <option value="{{ library['library_id'] }}">{{ library['library_name'] }}</option>
                    {% endfor %}
                </select>
                <button class="link-a btn btn-blue" id="reservation">Rezervovat</button>
            </div>
            
        </div>
    </div>
</div>
<div class="content">
    <h1 class="content-header">Podobné knihy</h1>
    <div class="book-row">
        {% for book in similar %}
            <a href="{{ url_for('views.bookDetail',bookid=book['title_id'])}} " class="book-div">
                <img src="{{ book['path_to_picture'] }}" alt="hp1" class="book-img">
                <h1 class="book-header">{{ book['title_name'] }}</h1>
                <h3 class="book-author">J. K. Rowling</h1>
                <div class="percent-align">
                    <img src="{{ book['rating_path'] }}" alt="rating" class="book-rating">
                    <p class="book-rating-text">{{ book['rating'] }}</p>
                </div>
            </a>
        {% endfor %}
    </div>
</div>





{% endblock %}
{% block script_block %}
<script src="/static/js/reservation.js"></script>
<script src="/static/js/popupwindow.js"></script>
{% endblock %}