{% extends 'base.html' %}



{% block link_block %}
    <link rel="stylesheet" href="/static/css/views/libraries.css">
{% endblock %}


{% block body_block %}

    <div class="content library-content">
        <h1 class="header-library">Knihovny</h1>
        {% for lib in libraries%}
            <div class="library">
                <div class="left-img">
                    <img src="{{ lib['path_to_picture'] }}" alt="library-img" class="library-img">
                </div>
                <div class="right-part">
                    <div class="header">
                        <a href="{{ url_for('views.booksInLibrary',library=lib['library_id'])}}">{{ lib['library_name']}}</a>
                    </div>
                    <div class="bottom-part">
                        <div class="addr-info">Adresa: {{ lib['adress'] }}</div>
                        <div class="addr-info">Celkem knih: 123</div>
                        <div class="addr-info">E-mail: {{ lib['library_email'] }}</div>
                    </div>
                </div>
            </div>
        {% endfor %}
        
    </div>
{% endblock %}


{% block script_block %}
    <script src="/static/js/login.js"></script>
{% endblock %}