{% extends 'emptyBase.html' %}



{% block link_block %}
    <link rel="stylesheet" href="/static/css/auth/registerlogin.css">
{% endblock %}


{% block body_block %}
    <div class="centered-block">
        <div class="left-part">
            <!-- HERE IMAGE -->
        </div>
        <div class="right-part">
            
            <img src="/static/icons/logo.png" alt="bookLogo" class="topLogo">
            <h1 class="form-header">Login</h1>
            <form  id="registerForm">
                <div class="input-div input-email">
                    <input type="email" placeholder="Vaše e-mailová adresa..." class="text-input" id="email">
                </div>
                <div class="input-div input-password">
                    <input type="password" placeholder="Vaše heslo..." class="text-input" id="pass">
                </div>
                
                <button type="btn" class="btn btn-blue btn-long" id="login">Přihlásit se</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block script_block %}
<script src="/static/js/login.js"></script>
{% endblock %}