{% extends 'base.html' %}

{% block link_block %}
    <link rel="stylesheet" href="/static/css/views/main.css">
    <link rel="stylesheet" href="/static/css/views/bookList.css">
{% endblock %}

{% block body_block %}

<header class="content">
    <h1 class="header">Rezervujte si knihu v knihovně, která je vám nejblíže</h1>
    <div class="header-block">
        <div class="left-block">
            <ul class="num-block">
                <li class="number-li"><span class="number">1</span>Najdi svoji vysněnou knihu</li>
                <li class="number-li"><span class="number">2</span>Zvol si knihovnu, na které si knihu vyzvedneš</li>
                <li class="number-li"><span class="number">3</span>Zarezervuj a už stačí si jen pro knížku dojít!</li>
            </ul>
        </div>
        <div class="right-block">
            <img src="/static/img/reading.svg" alt="woman reading book" class="book-reading">
        </div>
    </div>
</header>

<div class="content shrink">
    <h1 class="content-header">Nejlépe hodnocené knihy</h1>
    <div class="book-row">
        {% for book in books %}
            <a href="{{ url_for('views.bookDetail',bookid=book['title_id']) }} " class="book-div">
                <img src="{{ book['path_to_picture'] }}" alt="{{ book['name'] }}" class="book-img">
                <h1 class="book-header">{{ book['name'] }}</h1>
                <h3 class="book-author">J. K. Rowling</h1>
                <div class="percent-align">
                    <img src="{{ book['rating_path'] }}" alt="rating" class="book-rating">
                    <p class="book-rating-text">{{ book['rating'] }}</p>
                </div>
            </a>

        {% endfor %}
        
    </div>
    
</div>

{% endblock %}