{% extends 'emptyBase.html' %}



{% block link_block %}
    <link rel="stylesheet" href="/static/css/auth/registerlogin.css">
{% endblock %}


{% block body_block %}
    <div class="centered-block">
        <div class="left-part">
            <!-- HERE IMAGE -->
            <img src="/static/img/loginlib.png" alt="books" class="left-side-img">
        </div>
        <div class="right-part">
            
            <a href="{{ url_for('views.viewsPage') }}"><img src="/static/icons/logo.png" alt="bookLogo" class="topLogo"></a>
            <a href="{{ url_for('auth.loginPage') }}" class="change-url">Přihlášení</a>
            <h1 class="form-header">Registrace</h1>
            <form  id="registerForm">
                <div class="input-div input-email">
                    <input type="email" placeholder="Vaše e-mailová adresa..." class="text-input" id="email">
                </div>
                <div class="input-div input-user">
                    <input type="text" placeholder="Vaše křestní jméno..." class="text-input" id="firstName">
                </div>
                <div class="input-div input-user">
                    <input type="text" placeholder="Vaše příjmení..." class="text-input" id="surName">
                </div>
                <div class="input-div input-password">
                    <input type="password" placeholder="Vaše heslo..." class="text-input" id="pass1">
                </div>
                <div class="input-div input-repeat">
                    <input type="password" placeholder="Vaše heslo znovu..." class="text-input" id="pass2">
                </div>
                <div class="input-date">
                    <div class="number-box">
                        <label for="day" class="label">Den: </label>
                        <input type="number" class="number-input" id="day" min="1" max="31" value="1">
                    </div>
                    <div class="number-box">
                        <label for="month" class="label">Měsíc: </label>
                        <input type="number" class="number-input" id="month" min="1" max="12" value="1">
                    </div>
                    <div class="number-box">
                        <label for="month" class="label">Rok: </label>
                        <input type="number" class="number-input" id="year" min="1900" max="2021" value="1999">
                    </div>
                </div>
                <button type="btn" class="btn btn-blue btn-long btn-disabled" id="registration" disabled>Registrovat</button>
            </form>
        </div>
    </div>
{% endblock %}


{% block script_block %}
<script src="/static/js/auth.js"></script>
{% endblock %}