{% extends 'base.html' %}

{% block link_block %}
<link rel="stylesheet" href="/static/css/views/surveys.css">
{% endblock %}

{% block body_block %}

    <div class="content">
        <h1 class="survey-header">Zvolte knihovnu u které byste si přáli novou knihu.</h1>
        <div class="libraries">
            {% for lib in libs %}
                <a href="{{ url_for('views.surveysDetail',libid=lib['library_id']) }}" class="lib-link">{{lib['library_name']}}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script_block %}


{% endblock %}