{% extends 'baseAdmin.html' %}

{% block link_block %}
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
{% endblock %}

{% block body_block %}

<div class="content">
    <table>
        <tr>
            <th>E-mail</th>
            <th>Celé jméno</th>
            <th>Registrace dne</th>
            <th class="search-box">
                <!-- <button class="btn-search btn-yellow">Search box</button> -->
                <form action="{{ url_for('admin.adminPage') }}" method="post">
                    <input type="text" name="nm" placeholder="Hledat uživatele">
                </form >
            </th>
        </tr>
        
        {% for user in users %}
     
        <tr>
            <td>{{ user['email']}}</td>
            <td>{{ user['name'] }}</td>
            <td> {{ user['registration_time'] }} </td>
            <td class="deleteForm">
                <form method="post">
                    <button type="button" class="editBtn" name="btnEdit">
                        <i class="fas fa-user-edit"></i>
                    </button>
                    
                    <button type="button" class="deleteBtn" name="btnDelete" data-user={{ user['email'] }}>
                        <i class="far fa-trash-alt"></i>
                    </button>
                   

                    <!-- <input type="button" class="deleteBtn" name="btnDelete" value="delete" data-user={{ user['name'] }}> -->
                </form >
            </td>
            <script type="text/javascript" src="/static/js/admin.js"></script>
          

        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}