{% extends 'baseAdmin.html' %}

{% block link_block %}
    <link rel="stylesheet" href="/static/css/admin/admin.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
{% endblock %}

{% block body_block %}

<div class="content">
    <table>
        <tr>
            <th>E-mail</th>
            <th>Celé jméno</th>
            <th>Registrace dne</th>
            <th class="search-box">
                <!-- <button class="btn-search btn-yellow">Search box</button> -->
                <form action="{{ url_for('admin.adminPage') }}" method="post">
                    <input type="text" name="nm" placeholder="Hledat uživatele">
                </form >
            </th>
        </tr>
        {% for user in users %}
     
        <tr>
            <td>{{ user['email']}}</td>
            <td>{{ user['user_name'] }} {{ user['user_surname'] }}</td>
            <td> {{ user['registration_time'] }} </td>
            <td class="deleteForm">
                <form method="post">
                    <button type="button" class="editBtn" name="btnEdit" data-edit={{ user['email'] }}>
                        <i class="fas fa-user-edit"></i>
                    </button>
                    <button type="button" class="deleteBtn" name="btnDelete" data-user={{ user['email'] }}>
                        <i class="far fa-trash-alt"></i>
                    </button>
                   

                    <!-- <input type="button" class="deleteBtn" name="btnDelete" value="delete" data-user={{ user['name'] }}> -->
                </form >
            </td>
            
          

        </tr>
        {% endfor %}

        
    </table>
</div>
<!-- Modal section -->
<!-- Model Delete User -->
<div class="bg-modal-delete">
    <div class="content-modal-delete">
        <div class="btnClose">+</div>
        <p id="deleteText">Naozaj chceš vymazať uživateľa</p>
        <p id="deleteEmail"></p>
        <button id="btnYes" class="btn-search btn-yellow">Áno</button>
        <button id="btnNo"class="btn-search btn-blue">Nie</button>
    </div>
</div>

<!-- Model Edit User -->
<div class="bg-modal-edit">
    <div class="content-modal-edit">
        <div class="btnCloseEdit">+</div>
        <p id="editText">Editace Uživatelé</p>

        <div id="colsContainer">
            <div class="data-db">
                <h1>Informace v databázi</h1>
                <label for="name">Jméno: </label>
                <p id="name"></p><br>
                <label for="surname">Příjmení: </label>
                <p id="surname"></p><br>
                <label for="e-mail">E-mail: </label>
                <p id="e-mail"></p><br>
                <label for="birth_data">Dátum narození: </label>
                <p id="birth-date"></p><br>
                
               
            </div>
            <div class="changeTo">
                <h1>Změnit na</h1>
                <form action="" method="post">
                    <input id="nameI" type="text" placeholder="">
                    <input id="surnameI" type="text" placeholder="">
                    <input id="e-mailI" type="text" placeholder="">
                    <input id="birth-dateI" type="text" placeholder="">
                </form>
                <br>
            </div>
        </div>
        <br>
        
        <p id="rights" style="display: inline;">Přiřazená práva:</p>  
                        
        <br>
        <div class="rightsBtn">
            <p style="display: inline;">Administrátor</p>
            <i id ="adminR" class="fas"></i>
            <button id="adminAdd" class="btnGreen">Udeliť práva</button>
            <button id="adminRemove" class="btnRed">Odebrať práva</button>
            
            <br>
            <p style="display: inline;">Knihovník</p>
            <i id="libR" class="fas"></i>
            <button id="libAdd" class="btnGreen">Udeliť práva</button>
            <button id="libRemove" class="btnRed">Odebrať práva</button>
            <br>
                
            <select name="library" class="library-select hide" id="res-combobox">
                <option value="0">Vyber knihovnu</option>
                {% for library in libraries %}
                    <option value="{{ library['library_id'] }}">{{ library['library_name'] }}</option>
                {% endfor %}
            </select> 
            <br id="hide_br" class="library-select hide"> 

            <p style="display: inline;">Distribútor</p>
            <i id="disR" class="fas"></i>
            <button id="disAdd" class="btnGreen">Udeliť práva</button>
            <button id="disRemove" class="btnRed">Odebrať práva</button> 
            <br>

            <p style="display: inline;">Bežný užívateľ</p>
            <i id="basicUserR" class="fas"></i>

            <button id="basicUserAdd" class="btnGreen">Udeliť práva</button>
            <button id="basicUserRemove" class="btnRed">Odebrať práva</button>
        </div>
        

        <button id="sendEdit" class="btn-search btn-blue">Potvrdiť zmeny</button>
    </div>
</div>
<script type="text/javascript" src="/static/js/admin.js"></script>
{% endblock %}