{% extends 'baseAdmin.html' %}

{% block link_block %}
    <link rel="stylesheet" href="/static/css/admin/admin.css">
{% endblock %}

{% block body_block %}

<div class="content">
    <table>
        <tr>
            <th>E-mail</th>
            <th>Celé jméno</th>
            <th>Registrace dne</th>
            <th class="search-box">
                <button class="btn-search btn-yellow">Search box</button>
            </th>
        </tr>
        <tr>
            <td>gorky@srac.sk</td>
            <td>Pan gorky</td>
            <td>21.12.1988</td>
            <td></td>
        </tr>
        <tr>
            <td>Hanzik@beast.sk</td>
            <td>Janicko</td>
            <td>11.10.1992</td>
            <td></td>
        </tr>
        <tr>
            <td>Tomik@mergesort.sk</td>
            <td>Shelby z brna</td>
            <td>1.1.2002</td>
            <td></td>
        </tr>
    </table>
</div>

{% endblock %}