{% extends 'baseAdmin.html' %}


{% block link_block %}
<link rel="stylesheet" href="/static/css/admin/distributors.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
{% endblock %}


{% block body_block %}
<div class="content">
    <table>
        <tr>
            <th>Email Vydavatela</th>
            <th>jméno</th>
            <th>Adresa</th>
            <th>Mesto</th>
            <th class="search-box">
                <form action="{{ url_for('admin.distributorsPage') }}" method="post">
                    <input type="text" name="nm" placeholder="Hledat"> 
                </form >
            </th>
        </tr>
        
        {% for distributor in distributors %}
     
        <tr class={{ distributor['publisher_email'] }}>
            <td>{{ distributor['publisher_email']}}</td>
            <td>{{ distributor['publisher_name'] }}</td>
            <td> {{ distributor['adress'] }} </td>
            <td> {{ distributor['town'] }} </td>
            <td class="deleteForm">
                <form method="post">
                    <button type="button" class="editBtnn" name="btnEdit" data-edit= {{ distributor['publisher_email'] }} >
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="deleteBtn" name="btnDelete" data-distributor={{ distributor['publisher_email'] }}>
                        <i class="far fa-trash-alt"></i>
                    </button>
                   

                   
                </form >
            </td>
            
          

        </tr>
        {% endfor %}
       
    </table>
    
    <button id="btnAddLib" class="btn-search btn-blue" name="btnadd">Pridať Vydavatela</button>
    
 </div>

<!-- Modal section -->
<!-- Model Delete User -->
<div class="bg-modal-delete">
    <div class="content-modal-delete">
        <div class="btnClose">+</div>
        <p id="deleteText">Naozaj chceš vymazať Vydavatela</p>
        <p id="deleteEmail"></p>
        <button id="btnYes" class="btn-search btn-yellow">Áno</button>
        <button id="btnNo"class="btn-search btn-blue">Nie</button>
    </div>
</div>

<!-- Model Edit Lib -->
<div class="bg-modal-edit">
    <div class="content-modal-edit">
        <div class="btnCloseEdit">+</div>
        <p id="editText">Editace Knihovny</p>

        <div id="colsContainer">
            <div class="data-db">
                <h1>Informace v databázi</h1>
                <label for="name">Jméno: </label>
                <p  id="name"></p><br>
                <label for="town">Mesto: </label>
                <p id=town></p><br>
                <label for="adress">Adresa: </label>
                <p id="adress"></p><br>
                <label for="dist_email">Email: </label>
                <p id="dist_email"></p><br>
            </div>

            <div class="changeTo">
                <h1>Změnit na</h1>
                <form action="">
                    <input id='nameI' type="text" placeholder="">
                    <input id="townI" type="text" placeholder="">
                    <input id="adressI" type="text" placeholder="">
                    <input id="dist_emailI" type="text" placeholder="">
                </form>
            </div>

        </div>

        <button id="sendEdit" class="btn-search btn-blue">Potvrdiť zmeny</button>

    </div>

</div>



<!-- Model Add Dist -->
<div class="bg-modal-add">
    <div class="content-modal-add">
        <div class="btnCloseAdd">+</div>
        <p id="addText">Pridanie Knihovny</p>
            <div class="add-box">
                <form action="">
                    <input id='nameAdd' type="text" placeholder="Jméno knihovny"><br>
                    <input id="townAdd" type="text" placeholder="Mesto"><br>
                    <input id="opening_hoursAdd" type="text" placeholder="Otvarací hodiny"><br>
                    <input id="web_linkAdd" type="text" placeholder="Web stránka"><br>
                    <input id="path_picAdd" type="text" placeholder="Cesta k orázku"><br>
                    <input id="lib_emailAdd" type="text" placeholder="Email">
                </form>
            </div>
        <button id="sendAdd" class="btn-search btn-blue">Potvrdiť zmeny</button>
    </div>
</div>
 

<script type="text/javascript" src="/static/js/distributors.js"></script>

{% endblock %}
