{% extends 'baseAdmin.html' %}


{% block link_block %}
<link rel="stylesheet" href="/static/css/admin/libraries.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
{% endblock %}


{% block body_block %}
 <div class="content">
    <table>
        <tr>
            <th>Email Knihovny</th>
            <th>Celé jméno</th>
            <th>Otvárací Hodiny</th>
            <th>Mesto</th>
            <th class="search-box">
                <form action="{{ url_for('admin.libPage') }}" method="post">
                    <input type="text" name="nm" placeholder="Hledat Knihovny"> 
                </form >
            </th>
        </tr>
        
        {% for library in libraries %}
        <tr>
            <td>{{ library['library_email']}}</td>
            <td>{{ library['library_name'] }}</td>
            <td> {{ library['opening_hours'] }} </td>
            <td> {{ library['town'] }} </td>
            <td class="deleteForm">
                <form method="post">
                    <button type="button" class="editBtn" name="btnEdit" data-edit= {{ library['library_email'] }} >
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="deleteBtn" name="btnDelete" data-lib= {{ library['library_email'] }} >
                        <i class="far fa-trash-alt"></i>
                    </button>
                </form >
            </td>
        </tr>
        {% endfor %}
    </table>

    <button id="btnAddLib" class="btn-search btn-blue" name="btnadd">Pridať knihovnu</button>
    
 </div>


 <!-- Modal section -->
<!-- Model Delete Lib -->
<div class="bg-modal-delete">
    <div class="content-modal-delete">
        <div class="btnClose">+</div>
        <p id="deleteText">Naozaj chceš vymazať knihovnu</p>
        <p id="deleteLib"></p>
        <button id="btnYes" class="btn-search btn-yellow">Áno</button>
        <button id="btnNo"class="btn-search btn-blue">Nie</button>
    </div>
</div>

<!-- Model Edit Lib -->
<div class="bg-modal-edit">
    <div class="content-modal-edit">
        <div class="btnCloseEdit">+</div>
        <p id="editText">Editace Knihovny</p>

        <div id="colsContainer">
            <div class="data-db">
                <h1>Informace v databázi</h1>
                <label for="name">Jméno: </label>
                <p  id="name"></p><br>
                <!--
                <label for="town">Mesto: </label>
                <p id=town></p><br>
                 -->
                
                <label for="opening_hours">Otvárací hodiny: </label>
                <p id="opening_hours"></p><br>
                <label for="web_link">Webstránka: </label>
                <p id="web_link"></p><br>
                <label for="path_pic">Cesta k obrázku: </label>
                <p id="path_pic"></p><br>
                <label for="email">Email: </label>
                <p id="lib_email"></p><br>
            </div>

            <div class="changeTo">
                <h1>Změnit na</h1>
                <form action="">
                    <input id='nameI' type="text" placeholder="">
                    <!-- <input id="townI" type="text" placeholder=""> -->
                    <input id="opening_hoursI" type="text" placeholder="">
                    <input id="web_linkI" type="text" placeholder="">
                    <input id="path_picI" type="text" placeholder="">
                    <input id="lib_emailI" type="text" placeholder="">
                </form>
            </div>

        </div>

        <button id="sendEdit" class="btn-search btn-blue">Potvrdiť zmeny</button>

    </div>

</div>



<!-- Model Add Lib -->
<div class="bg-modal-add">
    <div class="content-modal-add">
        <div class="btnCloseAdd">+</div>
        <p id="addText">Pridanie Knihovny</p>
            <div class="add-box">
                <form action="">
                    <input id='nameAdd' type="text" placeholder="Jméno knihovny"><br>
                    <input id="townAdd" type="text" placeholder="Mesto"><br>
                    <input id="adressAdd" type="text" placeholder="Adresa">
                    <input id="descriptionAdd" type="text" placeholder="Popis"><br>
                    <input id="opening_hoursAdd" type="text" placeholder="Otvarací hodiny"><br>
                    <input id="web_linkAdd" type="text" placeholder="Web stránka"><br>
                    <input id="path_picAdd" type="text" placeholder="Cesta k orázku"><br>
                    <input id="lib_emailAdd" type="text" placeholder="Email">
                </form>
            </div>
        <button id="sendAdd" class="btn-search btn-blue">Potvrdiť zmeny</button>
    </div>
</div>
 


<script type="text/javascript" src="/static/js/adminLibs.js"></script>

{% endblock %}

