<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/navbar.css">
        {% block link_block %}

        {% endblock %}
        <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
        <title>Book Reserver</title>
    </head>
    <body>
        <div class="res-navbar" >
            <button class="hamburger-btn" id="btn-menu">
                <img src="/static/img/ham.svg" class="hamburger-icon" id="hamburger">
                <img src="/static/img/cross.png" class="hamburger-icon" id="cross">
            </button>
            <div class="nav-box">
                <div class="nav-flex">
                <a href="{{ url_for('views.viewsPage') }}" class="nav-link">Domů</a>
                <a href="{{ url_for('views.listPage') }}" class="nav-link">Knihy</a>
                <a href="#" class="nav-link">Knihovny</a>
                <a href="#" class="nav-link btn btn-blue">Registrovat</a>
                <a href="#" class="nav-link btn btn-yellow">Přihlásit se</a>
            </div>
            </div>
        </div>


        <nav class="navbar">
            <div class="nav-content">
                <div class="left-nav">
                    <a href="{{ url_for('views.viewsPage') }}" class="logo">Book&Reserve</a>
                </div>
                
                <ul class="right-nav">
                    <li class="link-li">
                        <a href="{{ url_for('views.viewsPage') }}" {{ 'class=link-a-active' if request.path == '/' else 'class=link-a' }}>Domů</a>
                    </li>
                    <li class="link-li dropdown">
                        <a href="{{ url_for('views.listPage') }}" {{ 'class=link-a-active' if request.path == '/list/' else 'class=link-a' }}>Knihy</a>
                        <div class="dropdown-content">
                            <a href="#" class="drop-link">Žánr 1</a>
                            <a href="#" class="drop-link">Žánr 2</a>
                            <a href="#" class="drop-link">Žánr 3</a>
                            <a href="#" class="drop-link">Žánr 4</a>
                            <a href="#" class="drop-link">Žánr 5</a>
                            <a href="#" class="drop-link">Žánr 6</a>
                            <a href="#" class="drop-link">Žánr 7</a>
                        </div>
                    </li>
                    <li class="link-li">
                        <a href="#" {{ 'class=link-a-active' if request.path == '/libraries/' else 'class=link-a' }}>Knihovny</a>
                    </li>
                    {% if session['logged_in'] %}
                    <li class="link-li">
                        <a href="{{ url_for('auth.logout') }}" class="link-a btn btn-blue">Ahoj {{ session['user']['email'] }} </a>
                    </li>
                    {% else %}
                        <li class="link-li">
                            <a href="{{ url_for('auth.authPage') }}" class="link-a btn btn-blue">Registrovat</a>
                        </li>
                        <li class="link-li">
                            <a href="{{ url_for('auth.loginPage') }}" class="link-a btn btn-yellow">Přihlásit se</a>
                        </li>
                    {% endif %}
                </ul>
            
            </div>
        </nav>



        {% block body_block %}
        
        {% endblock %}


        <script src="/static/js/navbarResp.js"></script>


        {% block script_block %}

        {% endblock %}
    </body>
</html>