<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/navbar.css">
        {% block link_block %}

        {% endblock %}
        <title>Book Reserver</title>
    </head>
    <body>
        <nav class="navbar">
            <div class="nav-content">
                <div class="left-nav">
                    <a href="#" class="logo">Book&Reserve</a>
                </div>
                
                <ul class="right-nav">
                    <li class="link-li"><a href="#" class="link-a">Domů</a></li>
                    <li class="link-li"><a href="#" class="link-a">Žánry</a></li>
                    <li class="link-li"><a href="#" class="link-a">Knihovny</a></li>
                    <li class="link-li"><a href="#" class="link-a btn btn-blue">Registrovat</a></li>
                    <li class="link-li"><a href="#" class="link-a btn btn-yellow">Přihlásit se</a></li>
                </ul>
            
            </div>
        </nav>



        {% block body_block %}
        
        {% endblock %}
    </body>
</html>