<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/toast.css">
        <link rel='shortcut icon' type='image/x-icon' href='/static/img/bookinCircle.ico' />
        {% block link_block %}

        {% endblock %}
        
        <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
        <title>Book Reserver</title>
    </head>
    <body>
        {% if session['user'] %}
            {% if session['user']['admin']%}
            <a href="{{ url_for('admin.adminPage') }}" class="admin-url">ADMIN</a>
            {% endif %}
        {% endif %}
        <div class="res-navbar" >
            <button class="hamburger-btn" id="btn-menu">
                <img src="/static/img/ham.svg" class="hamburger-icon" id="hamburger">
                <img src="/static/img/cross.png" class="hamburger-icon" id="cross">
            </button>
            <div class="nav-box">
                <div class="nav-flex">
                    <a href="{{ url_for('views.viewsPage') }}" class="nav-link">Domů</a>
                    <a href="{{ url_for('views.listPage') }}" class="nav-link">Knihy</a>
                    <a href="{{ url_for('views.librariesPage') }}" class="nav-link">Knihovny</a>
                    <a href="{{ url_for('views.librariesPage') }}" class="nav-link">Ankety</a>
                    {% if session['logged_in'] %}
                        <a href="#" class="nav-link">Ahoj {{ session['user']['name'] }} </a>
                        <!-- {{ url_for('auth.logout') }} -->
                        <a href="#" class="nav-link">Moje Rezervace</a>
                        <a href="{{ url_for('auth.logout') }}"" class="nav-link btn btn-blue">Odhlásit se</a>
                    {% else %}
                        <a href="{{ url_for('auth.authPage') }}" class="nav-link btn btn-blue">Registrovat</a>
                        <a href="{{ url_for('auth.loginPage') }}" class="nav-link btn btn-yellow">Přihlásit se</a>
                    {% endif %}
                </div>
            </div>
        </div>


        <nav class="navbar">
            <div class="nav-content">
                <div class="left-nav">
                    <a href="{{ url_for('views.viewsPage') }}" class="logo">Book&Reserve</a>
                </div>
                
                <ul class="right-nav">
                    <li class="link-li">
                        <a href="{{ url_for('views.viewsPage') }}" {{ 'class=link-a-active' if request.path == '/' else 'class=link-a' }}>Domů</a>
                    </li>
                    <li class="link-li dropdown">
                        <a href="{{ url_for('views.listPage') }}" {{ 'class=link-a-active' if request.path == '/list/' else 'class=link-a' }}>Knihy</a>
                        <div class="dropdown-content">
                            {% for genre in genres %}
                            <a href="{{ url_for('views.booksByGenre',genreid=genre['genre_id'])}}" class="drop-link">{{genre['name']}}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="link-li">
                        <a href="{{ url_for('views.librariesPage') }}" {{ 'class=link-a-active' if request.path == '/libraries/' else 'class=link-a' }}>Knihovny</a>
                    </li>
                    {% if session['logged_in'] %}
                    <li class="link-li">
                        <a href="{{ url_for('views.librariesPage') }}" {{ 'class=link-a-active' if request.path == '/quiz/' else 'class=link-a' }}>Ankety</a>
                    </li>
                    <li class="link-li dropdown-user">
                        <img src="/static/icons/userBL.png" class="icon">
                        <div class="dropdown-content-user">
                            <a href="#" class="drop-link">Ahoj {{ session['user']['name'] }}</a>
                            <a href="#" class="drop-link">Rezervace</a>
                            <a href="{{ url_for('auth.logout') }}" class="drop-link btn btn-blue">Odhlásit se</a>
                        </div>
                    </li>
                    {% else %}
                        <li class="link-li">
                            <a href="{{ url_for('auth.authPage') }}" class="link-a btn btn-blue">Registrovat</a>
                        </li>
                        <li class="link-li">
                            <a href="{{ url_for('auth.loginPage') }}" class="link-a btn btn-yellow">Přihlásit se</a>
                        </li>
                    {% endif %}
                </ul>
            
            </div>
        </nav>



        {% block body_block %}
        
        {% endblock %}
        

        <script src="/static/js/navbarResp.js"></script>
        <script src="/static/js/Toast.js"></script>

        {% block script_block %}

        {% endblock %}
    </body>
</html>