<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="/static/css/toast.css">
        <link rel='shortcut icon' type='image/x-icon' href='static/img/bookinCircle.ico' />
        {% block link_block %}

        {% endblock %}
        <script
			  src="https://code.jquery.com/jquery-3.6.0.min.js"
			  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
			  crossorigin="anonymous"></script>
        <title>Book Reserver</title>
    </head>
    <body>
        


        {% block body_block %}
        
        {% endblock %}

        <script src="/static/js/Toast.js"></script>

        {% block script_block %}

        {% endblock %}
        
    </body>
</html>